<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/user/update/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors = "*{firstName}">FirstName error</div>
    <br/>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors = "*{lastName}">LastName error</div>
    <br/>
    <label for="password">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors = "*{username}">Username error</div>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div th:if="${#fields.hasErrors('password')}"th:errors = "*{password}">Password error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>